body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    padding: 10px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
    color: #70757A;
}

a:hover {
    text-decoration: underline;
}

/* TOP NAV */

.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0px 15px;
    align-items: center;
}

.top-nav-element {
    padding: 0px 15px;
}

.menu-icon {
    max-height: 15px;
    padding: 10px;
}

.menu-icon:hover {
    background-color: lightgray;
    border-radius: 100%;
}

.menu-icon-wrapper {
    
}

.connexion-btn {
    padding: 9px 23px;
    border: none;
    background-color: #1a73e8;
    color: #FFF;
    border-radius: 5px;
}

.connexion-btn:hover {
    background-color: #1459b4;
    box-shadow: 0px 0px 2px #3c4043;

}

/* MAIN BODY */

.main-body {
    display: flex;
    height: 40%;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    
    margin-top: 5em;
}

.google-logo {
    height: 80px;
    padding-bottom: 20px;
}

.search-bar-div {
    width: 100%;
    max-width: 500px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    border: solid lightgrey 1px;
    border-radius: 60px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.search-bar:hover {
    box-shadow: 0px 0px 6px lightgray;
}

.glass-icon {
    max-height: 20px;
}

.mic {
    max-height: 20px;
}

.btn {
    background-color: #F8F9FA;
    border: none;
    border-radius: 5px;
    padding: 16px 10px;
    color: #3c4043;
}

.search.btn:hover {
    border: solid 1px lightgray;
    box-shadow: 0.5px 0.5px 0.5px lightgray;
}

.lucky.btn:hover {
    border: solid 1px lightgray;
    box-shadow: 0.5px 0.5px 0.5px lightgray;
}

.visit {
    color: #1a73e8;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    color: #70757A;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-top {
    background-color: #F2F2F2;
    border-bottom: gray 1px solid;
}

.footer-bottom {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.footer-nav-center {
    padding-right: 50px;
}

.carbon-free:hover {
    text-decoration: none;
}

.footer-top {
    padding-left: 50px;
}

.footer-nav-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.leaf-img {
    height: 15px;
    padding: 5px;
}